@import url("https://fonts.cdnfonts.com/css/jost");

body {
  margin: 0;
  padding: 0;
  font-family: "Jost*", sans-serif;
}
.container {
  padding: 82px;
}

#hero {
  display: flex;
  background-color: #37517e;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 760px;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex: 1;
  padding: 0 16px;
}

.btn {
  background-color: #47b2e4;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.title {
  color: #37517e;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 50px;
  display: inline-block;
  background: #fff;
  border: none;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}

#footer {
  background-color: #37517e;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #777;
}

.dot {
  height: 40px;
  width: 40px;
  background-color: #47B2E4;;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
